<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>About COVID Detector</title>
  <link rel="shortcut icon" href="{{url_for('static',filename='image/coronavirus.png')}}">

<body>
  <h1 class="px-2" style="margin-left: 7%;">COVID-19<image style="margin-left: 3px;" src="{{url_for('static',filename='image/virus1.png')}}"
      width="50" height="50"></image>
  </h1>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <!-- Image and text -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="/" style="margin-left: 8%;">

        Probability Detector and Status Tracker
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="#"> </a>
          </li>

        </ul>
      </div>
    </div>
    <div>
      <a href="/">
        <button style="margin-right: 125px;" class="btn btn-success">Home</button>
      </a>
    </div>
  </nav>

  <div class="container mt-4">
    <hr>
    <div>
      <div>
        <p>
          <b>COVID-19 Probability Detector : Solution to this Pandemic</b>
        </p>
      </div>
      <div>
        <p>
          Many people to test in too little time with too little resources ?<br>
          Here's the solution.This application developed by us uses Machine Learning algorithms to predict the
          probability <br>
          of Covid-19 infection in a person. The probability is calculated after examining the symptoms of the
          patient.<br>
          This gives the advantage of classifying people based on the likeliness of having Covid-19 and test the people
          with<br>
          higher probability at the earliest. The people with lower risk can quarantine themselves till their chance
          arrives. <br>
          This will filter out people who genuinely need medical attention from the masses and reduce the burden on the
          medical<br>
          service providers of India. This application has been developed by us to deal with extraordinary situation
          like Covid-19.<br>

        </p>
      </div>
    </div>
    <hr>
    <div style=" margin-left: 20px;">
      <b>Developed by:</b>
    </div>
    <div>
      <div style="margin-top: 15px;">
        <div style="float: left;">
          <div>
            <image src="{{url_for('static',filename='image/pankaj1.png')}}" width="150" height="150"></image>
          </div>
          <div style="padding-left: 18px;padding-top: 5px;">
            <p style="font-family: 'Courier New', monospace;"><b>Pankaj Kumar</b> </p>
          </div>
          <div style="padding-left: 10px;">
            <a href="{{url_for('pankaj_fb')}} " target="_blank">
              <image src="{{url_for('static',filename='image/fb.png')}}" width="24" height="24"></image>
            </a>
            <a href="{{url_for('pankaj_linkedin')}} " target="_blank">
              <image src="{{url_for('static',filename='image/linkedin.png')}}" width="24" height="24"
                style="margin: 5px;"></image>
            </a>
            <a href="{{url_for('pankaj_twitter')}} " target="_blank">
              <image src="{{url_for('static',filename='image/twitter.png')}}" width="24" height="24"
                style="margin-left: 5px;"></image>
            </a>
            <a href="{{url_for('pankaj_github')}} " target="_blank">
              <image src="{{url_for('static',filename='image/github.png')}}" width="24" height="24"
                style="margin-left: 5px;"></image>
            </a>
          </div>
        </div>
        <div style="float: left;margin-left: 110px;">
          <div>
            <image src="{{url_for('static',filename='image/shivam.png')}}" width="150" height="150"></image>
          </div>
          <div style="padding-left: 16px;padding-top: 5px;">
            <p style="font-family: 'Courier New', monospace;"><b>Shivam Ghatak</b> </p>
          </div>
          <div style="padding-left: 10px;">
            <a href="#">
              <image src="{{url_for('static',filename='image/fb.png')}}" width="24" height="24"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/linkedin.png')}}" width="24" height="24"
                style="margin: 5px;"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/twitter.png')}}" width="24" height="24"
                style="margin-left: 5px;"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/github.png')}}" width="24" height="24"
                style="margin-left: 5px;"></image>
            </a>
          </div>
        </div>
        <div style="float: left;margin-left: 110px;">
          <div>
            <image src="{{url_for('static',filename='image/shashank1.png')}}" width="150" height="150"></image>
          </div>
          <div style="padding-left: 15px;padding-top: 5px;">
            <p style="font-family: 'Courier New', monospace;"><b>Shashank Lall</b> </p>
          </div>
          <div style="padding-left: 10px;">
            <a href="#">
              <image src="{{url_for('static',filename='image/fb.png')}}" width="24" height="24"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/linkedin.png')}}" width="24" height="24"
                style="margin: 5px;"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/twitter.png')}}" width="24" height="24"
                style="margin-left: 5px;"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/github.png')}}" width="24" height="24"
                style="margin-left: 5px;"></image>
            </a>
          </div>
        </div>
        <div style="float: left;margin-left: 110px;">
          <div>
            <image src="{{url_for('static',filename='image/shiv1.png')}}" width="150" height="150"></image>
          </div>
          <div style="padding-left: 0px;padding-top: 5px;">
            <p style="font-family: 'Courier New', monospace;"><b>Shivcharan Tirkey</b> </p>
          </div>
          <div style="padding-left: 10px;">
            <a href="#">
              <image src="{{url_for('static',filename='image/fb.png')}}" width="24" height="24"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/linkedin.png')}}" width="24" height="24"
                style="margin: 5px;"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/twitter.png')}}" width="24" height="24"
                style="margin-left: 5px;"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/github.png')}}" width="24" height="24"
                style="margin-left: 5px;"></image>
            </a>
          </div>
        </div>
        <div style="float: left;margin-left: 110px;">
          <div>
            <image src="{{url_for('static',filename='image/sonu.png')}}" width="150" height="150"></image>
          </div>
          <div style="padding-left: 30px;padding-top: 5px;">
            <p style="font-family: 'Courier New', monospace;"><b>Sonu Kumar</b> </p>
          </div>
          <div style="padding-left: 10px;">
            <a href="#">
              <image src="{{url_for('static',filename='image/fb.png')}}" width="24" height="24"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/linkedin.png')}}" width="24" height="24"
                style="margin: 5px;"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/twitter.png')}}" width="24" height="24"
                style="margin-left: 5px;"></image>
            </a>
            <a href="#">
              <image src="{{url_for('static',filename='image/github.png')}}" width="24" height="24"
                style="margin-left: 5px;"></image>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>